<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="../static/All_css.css">
  <script defer src="../static/javascript/NavBar.js"></script>
  <script defer src="../static/javascript/About.js"></script>
</head>

<div id="box_about">
  <header>
    <img src="../static/Pics/logo.png" class=logo alt="The Logo">
    <nav>
      <ul>
        <li><a href="../views/About.html">About</a></li>
        <li><a href="../views/Contact.html">Contact</a></li>
        <li><a href="../views/Rate.html">Rate</a></li>
      </ul>
    </nav>
    <a href="../views/SignIn.html"><img src="../static/Pics/home.png" class=home alt="Home"></a>
  </header>

  <body>
  <div class="about-section">
    <h1>About Us</h1>
    <br> <br>
    <p>We make it easy for you to find your dream shoe with our simple search engine</p>
    <p>We give you multiple options of shops to buy from with just a click of a button</p>
  </div>
  <div class="msg"></div>
  <form id="form7">
    <div class="Team">
      <h2 id="h2About">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../static/Pics/coworking1.jpg" class="teamPic" alt="Tommy">
            <div class="container_a">
              <h2>Tommy Jil</h2>
              <p class="title">CEO & Founder</p>
              <p>Has experience of over 20 years in the shoes industry. Has founded 3 companies in this field.</p>
              <p>tommy@sneakerlocker.com</p>
              <p><input type='submit' value="Contact" class='btn' id="btn1"></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../static/Pics/coworking2.jpg" class="teamPic" alt="Susan">
            <div class="container_a">
              <h2>Susan Ann</h2>
              <p class="title">Head of Marketing</p>
              <p>Has experience in marketing at the top shoe brands in the world. Recently joined our team.</p>
              <p>susan@sneakerlocker.com</p>
              <p><input type='submit' value="Contact" class='btn' id="btn2"></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="../static/Pics/coworking3.jpg" class="teamPic" alt="Jimmy">
            <div class="container_a">
              <h2>Jimmy Vega</h2>
              <p class="title">Head of R&D</p>
              <p>Started as a junior developer and climbed his way up to this job. Now managing over 30 people in the R&D department.</p>
              <p>jimmy@sneakerlocker.com</p>
              <p><input type='submit' value="Contact" class='btn' id="btn3"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </body>
</div>
</html>