<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Rating</title>
    <link rel="stylesheet" href="../static/All_css.css">
    <script defer src="../static/javascript/NavBar.js"></script>
    <script defer src="../static/javascript/Rate.js"></script>
</head>
<header>
    <img src="../static/Pics/logo.png" class=logo alt="The Logo">
    <nav>
        <ul>
            <li><a href="../views/About.html">About</a></li>
            <li><a href="../views/Contact.html">Contact</a></li>
            <li><a href="../views/Rate.html">Rate</a></li>
        </ul>
    </nav>
    <a href="../views/SignIn.html"><img src="../static/Pics/home.png" class=home alt="Home"></a>
</header>

<body id="rateBody">
<h1 class="rating_head">Star Rating</h1>
<div class="star_rating">
    <p> How was your experience? </p>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <button class="star">&#9734;</button>
    <p class="current_rating">0 of 5</p>
</div>
<form id="form6">
    <input type='submit' value="Submit" class='btn'>
    <div class="msg"></div>
</form>
</body>
</html>