<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="../static/All_css.css">
    <script defer src="../static/javascript/NavBar.js"></script>
    <script defer src="../static/javascript/Search.js"></script>
</head>

<header>
    <img src="../static/Pics/logo.png" class=logo alt="The Logo">
    <nav>
        <ul>
            <li><a href="../views/Search.html">Search</a></li>
            <li><a href="../views/About.html">About</a></li>
            <li><a href="../views/Contact.html">Contact</a></li>
            <li><a href="../views/Rate.html">Rate</a></li>
        </ul>
    </nav>
    <a href="../views/SignIn.html"><img src="../static/Pics/home.png" class=home alt="Home"></a> </header>
</header>

<body>
<h1>Sneaker Locker</h1>
<form class="fillForm" id="form3" method="GET">
    <div class="msg"></div>
    <h2> Search For Sneaker</h2>
    <label> Shoe Type: </label> <label> High </label><input type="checkbox" id="typeHigh" name="High">
    <label>Low</label> <input type="checkbox" id="typeLow" name="Low">
    <br> <br>   <label> Brand </label>
    <select name="brands" id="brands">
        <option value="nike">Nike</option>
        <option value="adidas">Adidas</option>
        <option value="jordans">Jordans</option>
        <option value="newbalance">New Balance</option>
    </select>
    <br> <br>
    <label> From (Year) </label>
    <select type='submit' id='from'></select>
    <br> <br>
    <label> Until (Year) </label>
    <select id='until'></select>
    <br> <br>
    <label> Max Value </label>
    <input type="number" min="0" max="10000" oninput="validity.valid||(value='');" id="Max" name="MaxValue" placeholder="Enter Maximum Price">
    <br> <br>
    <input type="submit" value="Search" class="btn">
</form>
<img src="../static/Pics/basketball.png" class="ball">
</body>
</html>