doctype html
head
  meta(charset='UTF-8')
  title
  link(rel='stylesheet' href='All_css.css')
  script(defer='' src='javascript/Results.js')
  script(defer='' src='javascript/NavBar.js')
header
  img.logo(src='Pics/logo.png' alt='The Logo')
  block header
body
  block content
