<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/All_css.css">
    <script defer src="../static/javascript/SignUp.js"></script>
    <script defer src="../static/javascript/Objects.js"></script>
</head>

<header>
    <img src="../static/Pics/logo.png" class=logo alt="The Logo">
    <a href="../views/SignIn.html" > <img src="../static/Pics/home.png" class=home alt="Home"> </a>
</header>

<body>
<h1>Sneaker Locker</h1>

<form class="fillForm" id="form2" method="GET">
    <div class="msg"></div>
    <h2> Sign Up Here</h2>
    <br>
    <label> Username </label>
    <input type="email" id="email" name="Username" placeholder="Enter Email Here" required>
    <br> <br>
    <label> Password </label>
    <input type="password" id="pass" name="Password" placeholder="Enter Password Here" required>
    <br> <br>
    <label> First Name </label>
    <input type="text" id="first" name="First" placeholder="Enter First Name Here" required>
    <br> <br>
    <label> Last Name </label>
    <input type="text" name="Last" id="last" placeholder="Enter Last Name Here" required>
    <br> <br>
    <label> Age </label>
    <input type="number" id="Age" name="First" min="0" max="120" oninput="validity.valid||(value='');" placeholder="Enter Age Here" required>
    <br> <br>
    <input type='submit' value="Sign Up" class='btn'>
    <div id="add"> <img src="../static/Pics/add.png" class= addPic alt="add button"> </div>
</form>
<img src="../static/Pics/basketball.png" class="ball">
</body>
</html>